.ValueHovered {
  border: 5px solid black;
}

.ValueNotHovered {
  border: 5px solid transparent;
}

.Value {
  text-align: center;
  
  padding: 5px;
}

.ValueAscii {
  width: 75px;
}

.ValueHex {
  width: 113px;
}
