.ValueHovered {
  border: 5px solid black;
}

.ValueNotHovered {
  border: 5px solid transparent;
}

.Value {
  width: 40px;
  padding: 5px;
}

.ValueAscii {
  width: 29px;
  text-align: center;
}

.ValueHex {
  width: 36px;
  text-align: center;
}
