#tableContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

h1 {
  text-align: center;
}

.dataContainer {
  border: 3px solid black;
}

.hexContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.asciiContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%
}

.RowHovered {
  background-color: #efefef
}

.RowNotHovered {
  background-color: transparent;
}

.DataRow {
  display: flex;
  flex-direction: row;
}
